#container {
  width: 600px;
  height: 450;
  margin: 0 auto;
  padding: 20px;
}

#content {
  width: 595px;
  border: 1px solid black;
}

#box1 {
  margin: 0 a;
}

#p1 {
  color: white;
  background-color: black;
  padding: 1px;
}
#p2 {
  color: red;
}
